# **Pandas**
**(1) 데이터 분석**
+ 데이터의 숨겨진 패턴을 찾기 위한 과정 
    + 데이터 수집 -> 데이터 정제 
    + 데이터 탐색 -> 데이터 분석 -> 시각화 
    + 인사이트 도출 
+ Excel vs pandas
    + Excel로 100만개 데이터를 처리 한다면?(불편한 점)
        + 2019버전 1000000행까지만 제한이 되어 있으면 파일만 열어도 5분이상 소요됨
        + 수식 계산시 프로그램이 멈춤 
        + 반복 작업을 매번 수동으로 해야 함

+ pandas 설치 
   + pip install pandas

+ Series
    + 인덱스 지정 가능 
    + 리스트로 생성 가능(기본 인덱스가 자동 부여됨)
        + 인덱스를 원하는 값으로 지정 가능 
    + 딕셔너리로 생성 가능 (키가 인덱스, 벨류가 컬럼이 됨)
    + 인덱스를 원하는 값으로 변형 가능 
    + 주요 속성 
        + 실제 데이터 배열
        + 인덱스 객체
        + 데이터 타입, 개수
        + 배열의 형태 
        + Series 이름 
    + pandas의 가장 기본이 되는 1차원 데이터 구조 
        + 1차원 배열: 데이터가 일렬로 나열되어 있음 
        + 레이블(인덱스) 공유: 각 데이터에 이름표를 붙일 수 있음 
        + 동일 타입: 하나의 series 안의 모든 데이터는 같은 타입임 

+ DataFrame 
    + pandas의 핵심 자료구조 
    + Excel 만드는 것과 비슷하다 생각하면 됨 
    + 2차원 표 형태의 데이터를 다루는 객체 
        + 2차원 구조: 행, 열로 구성된 표
        + Series의 집합: 여러 개의 Series가 열로 배치된 형태 
        + 레이블 기잔: 각 행과 열에 이름(레이블)을 붙일 수 있음 
        + 각 열마다 다른 데이터 타입 가능

# **pandas 라이브러리 불러오기 및 버전 확인**

In [1]:
import pandas as pd
print(pd.__version__)

2.2.2

# **Series**

In [2]:
# Series = Value(값) + index(인덱스) + Name(이름)

data_series = pd.Series(data=[10, 20, 30, 40, 50], 
                        index=["Alice", "Bob", "charile", "David", "Eve"], 
                        name = "Test_Score")



"""
각 구성요소의 역할:
    Value(값)
        실제 데이터가 저장되는 부분
        Numpy 배열로 저장됨
        빠른 수치 연산 가능 
    Index(인덱스)
        각 값을 식별하는 레이블 
        기본 값: 0, 1, 2, ...(정수)
        사용자 정의 가능(문자열, 날씨 등)
    Name(이름)
        Series 전체를 설명하는 이름 
        선택사항(없어도 됨)
    DataFrame 결합 시 컬럼명이 됨
"""

int_series = pd.Series([10, 20, 30, 40, 50])
print(f"Interger Serirs dtype: \n {int_series}")

float_series = pd.Series([1.1, 2.2, 3.3, 4.4, 5.5])
print(print(f"Float Serirs dtype: \n {float_series}"))

str_series = pd.Series(["Apple", "Banana", "Cherry"])
print(print(f"String Serirs dtype: \n {str_series}"))

bool_series = pd.Series([True, False, True])
print(print(f"Boolean Serirs dtype: \n {bool_series}"))

simple_list = pd.Series([10, 20, 30, 40, 50])
print(simple_list)


temp_list = [15.5, 17.2, 18.9, 19.1, 20.1]
temp = pd.Series(temp_list, name="4월_기온")
print(temp)
# 0    15.5
# 1    17.2
# 2    18.9
# 3    19.1
# 4    20.1
# Name: 4월_기온, dtype: float64

date = pd.date_range("2025-4-01", periods=5)
print(date)
temp_date = pd.Series(temp_list, index=date, name="4월 기온")
print(temp_date)

product = {"노트북" : 15, 
           "마우스": 40, 
           "키보드": 20
           }

product_series = pd.Series(product, name="현재재고") 
print(product_series)
print()

scalar_series = pd.Series(0, index=['월', '화', '수', '목'], name="판매량")
print(scalar_series)
print()


# 인덱싱 
sales = pd.Series([100, 200, 150, 300],
                index=["Mon", "Tue", "Wed", "Thu"], 
                name="dailt_sales")

wed_sales = sales["Wed"]
print("수요일 매출: ", wed_sales)
# wed_sales2 = sales[2]
# print("수요일 매출: ", wed_sales2)
print("수요일 매출(sales.iloc[2]): ",sales.iloc[2])
print("수요일 매출 까지(sales.iloc[:Wed]):")
print(sales.loc[:'Wed'])

selected_sales = sales[["Mon", "Wed", "Thu"]]
print(selected_sales)

condition =  sales >=200
print(condition)
print()

result = sales[condition]
print(result)

print(sales[sales == 200])
print(sales[(sales >= 150) & (sales <= 350)])
print(sales[(sales < 150) | (sales >= 300)])
print(sales[sales != 200])


sales = pd.Series([100, 200, 150, 300, 250],
                index=["Mon", "Tue", "Wed", "Thu", "Fri"], 
                name="Daily_sales")

weekday_high = sales[(sales >= 200) & (sales.index != "Fri")]
print(weekday_high)

weeked_or_low = sales[(sales < 200) | sales.index.isin(["Mon", "Fri"])]
print(weeked_or_low)

# 슬라이싱

Interger Serirs dtype:
 0    10
1    20
2    30
3    40
4    50
dtype: int64
Float Serirs dtype:
 0    1.1
1    2.2
2    3.3
3    4.4
4    5.5
dtype: float64
None
String Serirs dtype:
 0     Apple
1    Banana
2    Cherry
dtype: object
None
Boolean Serirs dtype:
 0     True
1    False
2     True
dtype: bool
None
0    10
1    20
2    30
3    40
4    50
dtype: int64
0    15.5
1    17.2
2    18.9
3    19.1
4    20.1
Name: 4월_기온, dtype: float64
DatetimeIndex(['2025-04-01', '2025-04-02', '2025-04-03', '2025-04-04',
               '2025-04-05'],
              dtype='datetime64[ns]', freq='D')
2025-04-01    15.5
2025-04-02    17.2
2025-04-03    18.9
2025-04-04    19.1
2025-04-05    20.1
Freq: D, Name: 4월 기온, dtype: float64
노트북    15
마우스    40
키보드    20
Name: 현재재고, dtype: int64

월    0
화    0
수    0
목    0
Name: 판매량, dtype: int64

수요일 매출:  150
수요일 매출(sales.iloc[2]):  150
수요일 매출 까지(sales.iloc[:Wed]):
Mon    100
Tue    200
Wed    150
Name: dailt_sales, dtype: int64
Mon    100
Wed    150
Thu    300
Name: dailt_sales, dtype: int64
Mon    False
Tue     True
Wed    False
Thu     True
Name: dailt_sales, dtype: bool

Tue    200
Thu    300
Name: dailt_sales, dtype: int64
Tue    200
Name: dailt_sales, dtype: int64
Tue    200
Wed    150
Thu    300
Name: dailt_sales, dtype: int64
Mon    100
Thu    300
Name: dailt_sales, dtype: int64
Mon    100
Wed    150
Thu    300
Name: dailt_sales, dtype: int64
Tue    200
Thu    300
Name: Daily_sales, dtype: int64
Mon    100
Wed    150
Fri    250
Name: Daily_sales, dtype: int64

## **실습 1. Series 연습**

In [3]:
# 문제 1
import pandas as pd

python_list = pd.Series([5, 10, 15, 20])
print("[Series 생성결과]")
print(python_list)

[Series 생성결과]
0     5
1    10
2    15
3    20
dtype: int64

In [4]:
# 문제 2
index_book = pd.Series([5, 10, 15, 20], index=['국어', '영어', '수학', '과학'])
print("[인덱스 지정 결과]")
print(index_book)

[인덱스 지정 결과]
국어     5
영어    10
수학    15
과학    20
dtype: int64

In [5]:
# 문제 3
d_city = {'서울': 950, '부산': 340, '인천': 520} 
index_city = pd.Series(d_city)
print("인천의 값: ", index_city["인천"])

인천의 값:  520

In [6]:
# 문제 4
dtype_series = pd.Series([1, 2, 3, 4])
print("데이터 타입(dtype): ", dtype_series.dtype)

데이터 타입(dtype):  int64

In [7]:
# 문제 5
s1 = pd.Series([3, 5, 7], index=['a', 'b', 'c'])
s2 = pd.Series([10, 20, 30], index=['b', 'c', 'd'])
print("[두 Series의 합]")
print(s1 +s2)

[두 Series의 합]
a     NaN
b    15.0
c    27.0
d     NaN
dtype: float64

In [8]:
# 문제 6
num = pd.Series([1, 2, 3, 4, 5])
print("[각 값에 10을 더한 Series]")
print(num + 10)

[각 값에 10을 더한 Series]
0    11
1    12
2    13
3    14
4    15
dtype: int64

## **DataFrame**

In [9]:
# DataFrame 구성요소 
test_data = pd.DataFrame(
    # 데이터 - 2차원 배열
    data=[["김철수", 27, "Dev", 4500],
          ["이영희", 23, "Hr", 4800], 
          ], 

    # 행 인덱스 
    index = ["E001", "E002"], 
    # 열 이름 
    columns=["name", "age", "dapartment", "salary"] 
    
)

print("===Data Frame===")
print(test_data)
print()
print("===구성 요소 분석===")
print("행 구성: ", test_data.index.tolist())
print("열 구성: ",test_data.columns.tolist())
print("구성: ",test_data.shape)
print("행 개수: ",test_data.shape[0])
print("열 개수: ",test_data.shape[1])
print("크기: ",test_data.size)

===Data Frame===
     name  age dapartment  salary
E001  김철수   27        Dev    4500
E002  이영희   23         Hr    4800

===구성 요소 분석===
행 구성:  ['E001', 'E002']
열 구성:  ['name', 'age', 'dapartment', 'salary']
구성:  (2, 4)
행 개수:  2
열 개수:  4
크기:  8

# **실습 2. DataFrame 연습**

In [10]:
import pandas as pd

# 문제 1
data = pd.DataFrame([['홍길동', 28, '서울'], 
                    ['김철수', 33, '부산'],
                    ['이영희', 25, '대구']], columns = ['이름', '나이', '도시'])
print("=== 컬럼명을 '이름', '나이', '도시'로 지정 결과 ===")
print()
print(data)

=== 컬럼명을 '이름', '나이', '도시'로 지정 결과 ===

    이름  나이  도시
0  홍길동  28  서울
1  김철수  33  부산
2  이영희  25  대구

In [11]:
# 문제 2
dict_data = pd.DataFrame([{'A': [1, 2, 3], 'B': [4, 5, 6]}])
print("=== 딕셔너리로 DataFrame을 생성 결과 ===")
print()
print(dict_data)

=== 딕셔너리로 DataFrame을 생성 결과 ===

           A          B
0  [1, 2, 3]  [4, 5, 6]

In [12]:
# 문제 3
sub_data1 = pd.DataFrame([{'과목': '수학', '점수': 90}, 
                         {'과목': '영어', '점수': 85},
                         {'과목': '과학', '점수': 95}])
print("=== DataFrame 생성 ===")
print()
print(sub_data1)

=== DataFrame 생성 ===

   과목  점수
0  수학  90
1  영어  85
2  과학  95

In [13]:
# 문제 4
sub_data1 = pd.DataFrame([{'과목': '수학', '점수': 90}, 
                         {'과목': '영어', '점수': 85},
                         {'과목': '과학', '점수': 95}])
sub_data2 = pd.DataFrame({'이름': ['민수', '영희', '철수'], '점수': [80, 92, 77]})
result = pd.concat([sub_data1, sub_data2], axis=1)
result.index = ['학생1', '학생2', '학생3'] 
print("=== 인덱스를 ['학생1', '학생2', '학생3']으로 지정한 결과 ===")
print()
print(result)

=== 인덱스를 ['학생1', '학생2', '학생3']으로 지정한 결과 ===

     과목  점수  이름  점수
학생1  수학  90  민수  80
학생2  영어  85  영희  92
학생3  과학  95  철수  77

In [14]:
# 문제 5
kor = pd.Series([90, 85, 80], index=['a', 'b', 'c'])
eng= pd.Series([95, 88, 82], index=['a', 'b', 'c'])
result = pd.concat([kor, eng], axis=1)
print("=== Series 객체 2개를 이용해 DataFrame 생성 결과 ===")
print(pd.DataFrame(result))

=== Series 객체 2개를 이용해 DataFrame 생성 결과 ===
    0   1
a  90  95
b  85  88
c  80  82

In [15]:
# 문제 6
dict_list = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
print("=== DataFrame 생성 ===")
print(dict_list)
print()
print("=== 컬럼 순서를 ['B', 'A']로 지정한 결과 ===")
print(dict_list[["B", "A"]])

=== DataFrame 생성 ===
   A  B
0  1  3
1  2  4

=== 컬럼 순서를 ['B', 'A']로 지정한 결과 ===
   B  A
0  3  1
1  4  2

In [16]:
# 문제 7
supplies_list1 = pd.DataFrame([['펜', 1000, 50], ['노트', 2000, 30]], 
                              columns=['product', 'price', 'stock'])
print("=== 컬럼명을 ['product', 'price', 'stock']으로 변경 결과 ===")
print()
print(supplies_list1)

=== 컬럼명을 ['product', 'price', 'stock']으로 변경 결과 ===

  product  price  stock
0       펜   1000     50
1      노트   2000     30

In [17]:
# 문제 8
country_list =  pd.DataFrame({'국가': ['한국', '일본', '미국'],
                            '수도': ['서울', '도쿄', '워싱턴']})
print("=== 국가 컬럼만 추출한 결과 ===")
print()
print(country_list["국가"])

=== 국가 컬럼만 추출한 결과 ===

0    한국
1    일본
2    미국
Name: 국가, dtype: object

In [ ]:
# 프로젝트 주제 예시 
# 일조량에 따른 전력 생산량 예측 
# 강수량에 따른 전력 생산량 예측

# **실습3. iloc, loc연습**

In [18]:
data = {
 "이름": ["홍길동", "이순신", "김유신", "강감찬", "장보고", "이방원", "최무선", "정도전"],
 "나이": [23, 35, 31, 40, 28, 34, 42, 29],
 "직업": ["학생", "군인", "장군", "장군", "상인", "왕자", "과학자", "정치가"],
 "점수": [85, 90, 75, 88, 92, 95, 87, 83]
 }
df = pd.DataFrame(data)
ss = pd.Series(data)
print(df)
print()
print(ss)

    이름  나이   직업  점수
0  홍길동  23   학생  85
1  이순신  35   군인  90
2  김유신  31   장군  75
3  강감찬  40   장군  88
4  장보고  28   상인  92
5  이방원  34   왕자  95
6  최무선  42  과학자  87
7  정도전  29  정치가  83

이름    [홍길동, 이순신, 김유신, 강감찬, 장보고, 이방원, 최무선, 정도전]
나이            [23, 35, 31, 40, 28, 34, 42, 29]
직업          [학생, 군인, 장군, 장군, 상인, 왕자, 과학자, 정치가]
점수            [85, 90, 75, 88, 92, 95, 87, 83]
dtype: object